/**
 * @author Joshua Dierickse <jpcdieri@uwaterloo.ca>
 */

/* Dark HTML background */
.dark-html {
	background-color: #090e10;
	background-image: linear-gradient(to bottom, #02284e, transparent);
	background-repeat: no-repeat;
	background-size: 100% 300px;
}

/* Light HTML background */
.light-html {
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, #cee5fd, transparent);
	background-repeat: no-repeat;
	background-size: 100% 300px;
}

/* .form is styling for <InputField /> */
/* Container styling */
.form__group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 10px;
	width: 100%;
}

/* <input /> styling */
.form__field {
	font-family: JetBrains Mono, monospace;
	width: 100%;
	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 1.3rem;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
	&::placeholder {
		color: transparent;
	}
	&:placeholder-shown ~ .form__label {
		font-size: 1.3rem;
		cursor: text;
		top: 20px;
	}
}

/* <input /> styling when the <InputField /> is focused */
.form__field:focus {
	~ .form__label {
		position: absolute;
		top: 0;
		display: block;
		transition: 0.2s;
		font-size: 1rem;
		color: #1976d2;
		font-weight: 400; 
	}
	padding-bottom: 6px;  
	font-weight: 400;
	border-width: 3px;
	border-image: linear-gradient(to right, #1976d2, #1976d2);
	border-image-slice: 1;
}

/* <label /> styling */
.form__label {
	font-family: JetBrains Mono, monospace;
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 1rem;
	user-select: none;
}


/* When the user clicks away from the <InputField /> */
.form__field{
	&:required,&:invalid { box-shadow:none; }
}

/* Styling to ensure the footer stays at the bottom when the HTML content doesn't fully fill the screen */
#page-container {
	position: relative;
	min-height: 97vh;
}

/* Footer styling */
#page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}